<footer
  style="background-color: #050A30 !important"
  class="p-4 d-flex flex-wrap justify-content-between align-items-center"
>
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="text-muted text-decoration-none lh-1" data-test-label="home-link">
      Maysen Greenwood
    </a>
    <span class="text-muted">© 2022 Company, Inc</span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a
        target="_blank"
        rel="noreferrer noopener"
        class="text-muted"
        href="https://github.com/MaysenTG"
      ><i class="bi-github"></i></a></li>
    <li class="ms-3"><a
        target="_blank"
        rel="noreferrer noopener"
        class="text-muted"
        href="https://www.linkedin.com/in/maysen-greenwood/"
      ><i class="bi-linkedin"></i></a></li>
    <li class="ms-3"><a
        target="_blank"
        rel="noreferrer noopener"
        class="text-muted"
        href="https://www.facebook.com/maysen.greenwood"
      ><i class="bi-facebook"></i></a></li>
  </ul>
</footer>
