<nav class="sticky-nav navbar navbar-dark navbar-expand-md py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <span>Maysen Greenwood</span>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-5">
      <span class="visually-hidden">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navcol-5" class="mt-3 collapse navbar-collapse">
      <ul class="navbar-nav ms-auto justify-content-evenly flex-row">
        <li class="nav-item">
          <a class="nav-link show-on-scroll" href="#about" onclick="updateActiveNavLink('about')">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link show-on-scroll" href="#projects" onclick="updateActiveNavLink('projects')">My projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link show-on-scroll" href="#contact-me" onclick="updateActiveNavLink('contact-me')">Contact me</a></li>
        <li class="nav-item">
          <a target="_blank" rel="noreferrer noopener" class="nav-link" href="https://github.com/MaysenTG">
            <i class="bi-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            target="_blank"
            rel="noreferrer noopener"
            class="nav-link"
            href="https://www.linkedin.com/in/maysen-greenwood/"
          >
            <i class="bi-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
