<section class="py-4 py-xl-5" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2 order-2">
        {{! template-lint-disable no-inline-styles }}
        <div class="p-2" style="display: flex justify-content: center">
          <img
            class="rounded-circle img-fluid"
            height="90%"
            width="90%"
            src="https://ik.imagekit.io/maysentg/rails-portfolio/self-avatar.png"
            alt="cartoon created face of Maysen Greenwood"
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1 order-1">
        <div class="pt-5">
          <h2 class="display-4">About me</h2>
          <p>
            Hey, I'm Maysen, a web developer with a passion for building performative and dynamic web apps. I work as an
            intermediate developer for Henry Schein One, working on Dentally, a cloud based dental management software.
            In my free time I like to build my own personal projects using the technologies I'm learning. My "bread and
            butter" is Ruby on Rails, but I'm excellent at frameworks/tools like:
          </p>
          <ul>
            <li>Cloud architecture on Google Cloud</li>
            <li>Javascript</li>
            <li>Databases (Relational, like MySQL and PostgreSQL, and NoSQL, like MongoDB)</li>
            <li>ASP.NET C#</li>
            <li>ReactJS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
