<section class="py-4 py-xl-5" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="pt-5">
          <h2 class="display-4">About me</h2>
          <p>
            Hey, I'm Maysen, a full stack developer with a passion for building performative and dynamic web apps. I work as an
            intermediate developer for Henry Schein One where I lead large scale projects, mentor junior developers, contribute to onboarding/technical documentation, and more.
            In my free time I like to exercise and work towards my Helicopter pilot license. 
            My main focus is the FE and BE, but I'm particularily skilled in building excellent user experiences and RESTful APIs.
          </p>
          <ul>
            <li>Javascript/Typescript</li>
            <li>Ruby on Rails</li>
            <li>C#, ASP.NET</li>
            <li>Database design/development</li>
            <li>Cloud architecture on Google Cloud</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
