{{! template-lint-disable no-inline-styles }}

<section class="blank hero" style="margin-top: 5%; margin-bottom: 10%; height: 100%;">
  <div class="container">
    <div
      class="border rounded border-0 d-flex flex-column align-items-center"
      style="width: 100%; margin-top: 5rem; margin-bottom: 5rem;"
    >
      <div
        style="width: 100%;"
        class="col-12 text-center d-flex d-sm-flex d-md-flex align-items-center mx-auto align-items-md-center"
      >
        <div class="hero-section-contents" style="width: 100vw; margin-top: 3rem;">
          <p class="mb-4">Hey! <br /> I'm Maysen and I'm a <br /></p>
          <h1 class="text-uppercase fw-bold mb-3">
            <strong>Fullstack
              <br />
              developer
            </strong>
          </h1>
          <p class="mb-4 hero-subtext">
            but also a Kiwi, rubiks cube master, dog dad, skiier and star gazer...
          </p>
          <button
            class="btn btn-light fs-5 py-2 px-4 coolMainButton"
            onclick="document.getElementById('projects').scrollIntoView();"
            type="button"
          >
            Check out some of my projects
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
