<footer class="site-footer">
  <div class="container d-flex flex-wrap justify-content-between align-items-center gap-3">
    <div class="d-flex align-items-center flex-wrap">
      <a href="/" class="footer__brand text-decoration-none" data-test-label="home-link">
        Maysen Greenwood
      </a>
      <span class="footer__copy">© 2026</span>
    </div>
    <ul class="nav list-unstyled d-flex gap-3 mb-0">
      <li>
        <a target="_blank" rel="noreferrer noopener" href="https://github.com/MaysenTG" aria-label="GitHub">
          <i class="bi-github"></i>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.linkedin.com/in/maysen-greenwood/"
          aria-label="LinkedIn"
        >
          <i class="bi-linkedin"></i>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.facebook.com/maysen.greenwood"
          aria-label="Facebook"
        >
          <i class="bi-facebook"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
